<head>
    {{>htmlDependencies}}
    {{> header }}
</head>
<body>

<div className="ui small image">
    <img src="/images/avatar/large/nan.jpg">
    <div style="position: absolute; bottom: 0; width: 100%; height: 200px">TEST</div>
</div>
</body>