<head>
    {{>htmlDependencies}}
    {{> header }}
</head>
<body>
<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            <a class="active item">
                Bio
            </a>
            <a class="item">
                Pics
            </a>
            <a class="item">
                Companies
            </a>
            <a class="item">
                Links
            </a>
        </div>
    </div>
    <div class="twelve wide stretched column">

        <div class="ui card">

            <div class="image" id="profileImage">
                <div class="ui dimmer">
                    <div class="content">
                        <h2 class="ui inverted header">Title</h2>
                        <div class="ui primary button">Add</div>
                        <div class="ui button">View</div>
                    </div>
                </div>
                <img src="/images/avatar2/large/kristy.png">

            </div>

            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    Kristy is an art director living in New York.
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    22 Friends
                </a>
            </div>
        </div>
    </div>


</div>
<script src="/js/app.js"></script>

</body>